<div class="container">

    <div style="margin-top:15px;"class="row">
        <div class="col-6 offset-3">
            <div class="container text-center">
            <img style="width:120px;height:100px" src="../../../assets/img3.png" alt="images">
        </div>
            <h2 class="text-center">Register Here</h2>
            {{user | json}}
            <form (ngSubmit)="formSubmit()">
                <mat-form-field class ="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input [(ngModel)]="user.username" name="username" matInput placeholder="Enter Username" />
                 
                  </mat-form-field>
                  <mat-form-field class ="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input  [(ngModel)]="user.password" name="password"  type ="password" matInput placeholder="Enter Password" />
                 
                  </mat-form-field>
                  <mat-form-field class ="full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input  [(ngModel)]="user.firstName" name="firstName"  matInput placeholder="Enter FirstName" />
                 
                  </mat-form-field>
                  <mat-form-field class ="full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input  [(ngModel)]="user.lastName" name="lastName"  matInput placeholder="Enter LastName" />
                 
                  </mat-form-field>
                  <mat-form-field class ="full-width" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input  [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter Email" />
                 
                  </mat-form-field>
                  <mat-form-field class ="full-width" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input  [(ngModel)]="user.phone" name="phone" type="number" matInput placeholder="Enter Phone" />
                 
                  </mat-form-field>

                </form>
                <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Register</button>
                    <button mat-raised-button color="accent" style="margin-left: 20px;">Reset</button>
                </div>     
        </div>
        
    </div>
</div>
